@{
    ViewData["Title"] = "Home Page";
}
@model Containers.User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Model.UserPID
    @Model.UserPWD
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    function IsSuccess
        {
        
    }

</script>
